[user]
	name="Mohammed Saed"
	email=mohd.a.saed@gmail.com
	signingkey=mohd.a.saed@gmail.com
[init]
	defaultBranch = master
[commit]
	gpgsign=true
[tag]
	gpgSign=true
[core]
	excludefile=/home/moeabdol/.gitignore
	excludesfile=/home/moeabdol/.gitignore
	pager=delta
[pull]
	rebase=false
[pager]
	log=bat
	show=delta
	diff=delta
	status=bat
[interactive]
	keep-plus-minus-markers=true
	diffFilter="delta --features=interactive --24-bit-color=always"
[delta]
	theme=dark
	features=decorations
	#side-by-side = true
	true-color=always
	line-numbers=true
	minus-emph-style="red bold auto"
	minus-style="red auto"
	plus-emph-style="green bold auto"
	plus-style="green auto"
	zero-style="dim auto"
[delta "decorations"]
	commit-decoration-style="blue ol"
	commit-style=raw
	file-style=omit
	hunk-header-decoration-style="blue box"
	hunk-header-file-style=red
	hunk-header-line-number-style="#067a00"
	hunk-header-style="file line-number syntax"
