[user]
	name = moeabdol
	email = mohd.a.saed@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore
	excludefile = /Users/moeabdol/.gitignore
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
