#!/usr/bin/env bash

set colored-stats on
set show-all-if-ambiguous on
set colored-completion-prefix on
set completion-ignore-case on

# vi modes
$if mode=vi
	set show-mode-in-prompt on
	set vi-ins-mode-string \1\e[2 q\2
	set vi-cmd-mode-string \1\e[2 q\2

	# command mode
	set keymap vi-command
	w: forward-word
	b: backward-word
	j: history-search-forward
	k: history-search-backward

	# insert mode
	set keymap vi-insert
	"\e[A": history-search-backward
	"\e[B": history-search-forward
	"\e[1;5C": forward-word
	"\e[1;5D": backward-word
$endif
